/*====================
=======Structure======
======================*/

body{ 
    background-color: hsl(0, 0%, 100%);
    display:flex;
    flex-direction:column;    
    margin: 0 auto;
    min-height: 100vh;
    width: 90%;
}

header{
    margin: 0;
    width: 100%;
}

main{
    margin: 0;
    width: 100%;
}

footer{
    margin: 0; 
    width: 100%;
}

/*====================
======Typography======
======================*/

h1, h2, h3, a, p, button, li{
    color: hsl(0, 0%, 0%);
    font-family: "Ubuntu";
}

h1 {
    font-size: 2.5em;
    font-weight: 600;
    text-decoration: none;
}

h2 {
    font-size: 1.5em;
    font-weight: 600;
    text-decoration: none;
}

a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    font-weight: 600;
    text-decoration: none;
    transition: 300ms;
}

a:focus, a:hover {
    outline: none;
    outline-offset: 0;
    text-decoration: none;
}

/*====================
=======Imágenes========
======================*/

img{
    max-width: 100%;
}

/*====================
========HEADER========
======================*/

.header-container{
    display: flex;
    height: 10vh;
    justify-content:space-between;
}

.header-2-col{
    display: flex;
    justify-content: flex-start;
}

/*====================
========LOGO==========
======================*/

.title{
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo{
    margin: 0.5em 0 0 0;
}

.logo svg{
    height: 5em;
    width: 5em;
}

.logo svg path{
    fill:hsl(0, 100%, 50%);
}

.hamburguer{
    display:none;
}

/*====================
========MENU==========
======================*/

.menu{
    display: flex;
    margin: 0;
}

.menu ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.menu ul li{
    background-color: hsl(0, 100%, 50%);
    border-style: none;
    border-radius: 1em;
    font-weight: 600;
    padding: 0.5em 1em;
    margin: auto 0.5em;
}

.menu a{
    color: hsl(0, 0%, 100%);
}

.menu ul li:hover{
    background-color: hsl(0, 87%, 28%);
    cursor: pointer;
}

/*====================
======CART ELEMENTS===
======================*/

button a{
    color: hsl(0, 0%, 100%);
}

/*====================
=========BUTTON=======
======================*/

.slider-form-button{
	background-image: linear-gradient(to right, #862525 0%, #b00202 50%, #862525 100%);
    background-size: 200% auto;
    border-radius: 1em;
    border: none;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    font-size: 1.2em;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 0px;
	width: fit-content;
	padding: 1em 2em;
	transition: 0.5s;
	text-decoration: none;
}

.slider-form-button:hover{
    background-size: 100% auto;
}

.slider-form-button:focus {
	outline: 0;
}

/*====================
===CHECKOUT MAIN======
======================*/

.desktop-2-col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    margin: 0 0 1em 0;
}

.checkout-billing-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 80vh;
    margin: 0;
    padding: 0;
    width: 49%;
    background-color: hsl(0, 0%, 80%);
    border-radius: 1em;
}

.checkout-billing-title{
    margin: 0;
    margin-bottom: 1em;
    width: 90%;
}

.checkout-form-container{
    width: 90%;
}

.checkout-form-input{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.checkout-form-item, .checkout-form-item input{
    width: 100%;
}

.checkout-form-pay{
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.checkout-order-container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-end;
    gap: 1em;
    height: 80vh;
    margin: 0;
    padding: 0 1% 0 1%;
    width: 47%;
    background-color: hsl(0, 0%, 80%);
    border-radius: 1em;
}

.checkout-order{
    width: 90%;
    margin: 0;
}

.checkout-order-table{
    width: 100%;
    text-align: left;
}

.checkout-order-reservation{
    gap: 0.5em;
    display: flex;
    justify-content: left;
    align-items: center;
}

.reservation-button{
    display: flex;
    align-items: center;
}

#reservation-quantity{
    width: 1.5em;
    text-align: center;
}

.checkout-total{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 0.5em;
    margin: 0 1em;
}

#total-quantity{
    width: 3em;
}

/*====================
========FOOTER========
======================*/

footer {
    border-top: solid hsl(0, 100%, 50%);
    width: 100%;
    padding: 1em 0;
}

.copyright{
    margin-bottom: 0.5em;
    text-align: center;
    width: 100%;
}

.author{
    margin: 0;
    text-align: center;
}

/*====================
==OTROS DISPOSITIVOS==
======================*/

@media (max-width:479px) {
    
    h1 {
        font-size: 1.5em;
        font-weight: 600;
        text-decoration: none;
    }
    
    h2 {
        font-size: 1.2em;
        font-weight: 600;
        text-decoration: none;
    }

    h3, a, p, button, li{
        font-size: 0.8em;
        font-weight: 600;
        text-decoration: none;
    }

    .header-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logo svg{
        margin: 0;
        height: 3em;
        width: 3em;
    }

    .hamburguer, .hamburguer svg{
        display: block;
        width: 1.5em;
        height: 1.5em;
    }

    .hamburguer svg path{
        fill:hsl(0, 100%, 50%);
    }

    .menu{
        display: none;
    }

    .mobile-2-col{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: fit-content;
        margin: 0 0 1em 0;
    }

    .checkout-billing-container, .checkout-order-container{
        width: 100%;
        margin-top: 1em;
        padding: 1em 0;
        height: fit-content;
    }
}