/*====================
=======Structure======
======================*/

/* "." apunta a los elementos de la misma clase para darle estilo. "#" apunta al id. "<etiqueta>" apunta a esa etiqueta. "{" dentro las propiedades css que deseo aplicar. */
body{ 
    background-color: hsl(0, 0%, 100%); /* da color al fondo de la caja. hsl y sus inputs apuntan a un color. Tb pueden ser expresados en nombre, hexadecimal o rgb */
    display:flex; /*  */
    flex-direction:column;    
    margin: 1em auto;
    min-height: 100vh;
    width: 90%;
}

header{
    display: flex;
    height: 10vh;
    justify-content:space-between;
}

main{
    margin: 1em 0;
    width: 100%;
}

footer{
    margin-top: auto; 
    width: 100%;
}

/*====================
======Typography======
======================*/

h1, h2, h3, a, p, button, li{
    color: hsl(0, 0%, 0%);
    font-family: "Ubuntu";
}

h1 {
    font-size: 2.5em;
    font-weight: 600;
    text-decoration: none;
}

h2 {
    font-size: 1.5em;
    font-weight: 600;
    text-decoration: none;
}

a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    font-weight: 600;
    text-decoration: none;
    transition: 300ms;
}

a:focus, a:hover {
    outline: none;
    outline-offset: 0;
    text-decoration: none;
}

/*====================
=======Imágenes========
======================*/

img{
    max-width: 100%;
}

/*====================
========Title=========
======================*/

.title{
    margin: auto 0;
}

/*====================
========Logo=========
======================*/

.logo-title{
    display: flex;
    justify-content: start;
}

.logo{
    margin-top: auto;
    width: max-content;
}

.logo svg{
    height: 4em;
    width: 4em;
}

.logo svg path{
    fill:hsl(0, 100%, 50%);
}

/*====================
========Menu=========
======================*/

.menu{
    display: flex;
    flex-basis: 20% 20% 20% 20%;
    flex-wrap: wrap;
    gap: 0.5em;
    margin: 0 1em;
}

.menu ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.menu ul li{
    background-color: hsl(0, 100%, 50%);
    border-style: none;
    border-radius: 1em;
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    padding: 0.5em 1em;
    margin: auto 0.5em;
}

.menu ul li:hover{
    background-color: hsl(0, 87%, 28%);
    cursor: pointer;
}


/*====================
========Slider======
======================*/

.slider{
    height: 75vh;
    margin: 1em 0;
    position: relative;
    width: 100%;
}

.slider-image, .slider-form{
    position: absolute;
}

.slider-image{
    z-index: 1000;
}

.slider-form{
    background-color: hsla(0, 0%, 0%, 0.692);
    left: 10%;
    padding: 3em;
    top: 30%;
    z-index: 1001;
}

.slider-form-element{
    margin-bottom: 1em;
    width: 100%;
}

.slider-form-label{
    margin-bottom: 1em;
    width: 100%;
}

.slider-form-label label{
    color: hsl(0, 100%, 50%);
	font-family: "Ubuntu";
	font-weight: 600;
	font-size: 1.5em;
	transition: color 0.5s;
}

.slider-form-label--active label{
	color: hsl(19, 100%, 50%);
}

.slider-form-input{
    width: 100%;
}

.slider-form-input input, 
.slider-form-input textarea,
.slider-form-input select {
    background-color: hsl(0, 0%, 100%);
	border: 1px solid hsl(0, 0%, 0%);
	box-sizing: border-box;
    color: hsl(0, 100%, 50%);
	font-family: "Ubuntu";
	font-weight: 600;
	padding: 0.2em 0.5em;
	width: 100%;
}

.slider-form-input input:focus, .slider-form-input textarea:focus{
	outline: none;
}

.slider-form-input select, .slider-form-input select:focus, .slider-form-input select:active { 
	outline: 0 !important; 
}

.slider-form-button{
	background-image: linear-gradient(to right, #862525 0%, #b00202 50%, #862525 100%);
    background-size: 200% auto;
    border-radius: 1em;
    border: none;
    color: hsl(0, 0%, 0%);
    cursor: pointer;
    font-size: 1.2em;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 0px;
    margin-top: 1em;
	min-width: 20%;
	padding: 1em 2em;
	transition: 0.5s;
	text-decoration: none;
}

.slider-form-button:hover{
    background-size: 100% auto;
}

.slider-form-button:focus {
	outline: 0;
}

/*====================
======ESTILOS=========
======================*/

h2 {
    text-align: center;
    margin-bottom: 1em;
    width: 100%;
}

h3 {
    text-align: center;
    margin-bottom: 1em;
    width: 100%;
}

.services{
    margin-bottom: 1em;
    width: 100%;
}

.services-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.service-item {
    border-style: solid;
    border-color: hsl(0, 100%, 50%);
    border-radius: 1em;
    padding: 0.1em;
    margin-bottom: 1.5em;
    width: 23%;
}

.service-item-image {
    margin: 1em 0;
    height: 35vh;
    width: 100%;
}

.service-item-image img{
    display: block;
    margin: auto;
}

.service-item-title {
    text-align: left;
    margin: 1em;
}

.service-item-description {
    text-align: left;
    margin: 1em;
}

/*====================
=========NOTICIA======
======================*/

.new {
    display: flex;
    justify-content: space-between;
    margin: 1em, 0;
}

.new-info {
    width: 45%;
}

.new-info p {
    text-align: left;
    margin: 2em 0;
    width: 100%;
}

.new-3d {
    width: 45%;
}

.new-3d img {
    align-content: center;
    margin: 5em 0;
    width: 100%;
}

/*====================
========FOOTER========
======================*/

footer {
    border-top: solid hsl(0, 100%, 50%);;
    padding: 2em 0;
}

.copyright{
    margin-bottom: 1em;
    text-align: center;
    width: 100%;
}

.author{
    margin-bottom: 1em;
    text-align: center;
}

/*====================
==OTROS DISPOSITIVOS==
======================*/

@media (max-width:479px) {
    
    h1 {
        font-size: 1.5em;
        font-weight: 600;
        text-decoration: none;
    }
    
    h2 {
        font-size: 1em;
        font-weight: 600;
        text-decoration: none;
    }

    h3, a, p, button, li{
        font-size: 0.7em;
        font-weight: 600;
        text-decoration: none;
    }

    .logo{
        height: max-content;
    }

    .logo svg{
        height: 3em;
        width: 3em;
    }

    header {
        display: flex;
        flex-direction: column;
    }

    .menu{
        display: flex;
    }

    .slider{
        height: 25vh;
        margin: 1em 0;
        position: relative;
        width: 100%;
    }
    
    .slider-image, .slider-form{
        position: absolute;
    }
    
    .slider-image{
        z-index: 1000;
    }
    
    .slider-form{
        font-size: 0.8em;
        background-color: hsla(0, 0%, 0%, 0.692);
        left: 10%;
        padding: 1em;
        top: 10%;
        z-index: 1001;
    }

    .services{
        width: 100%;
    }

    .services-items{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .service-item {
        width: 100%;
    }

    .new {
        display: flex;
        flex-direction: column;
    }
    
    .new-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
    }
    
    .new-info p {
        text-align: left;
        margin: 0.5em 0;
        width: 100%;
    }
    
    .new-3d {
        width: 100%;
    }
    
    .new-3d img {
        align-content: center;
        margin: 1em 0;
        width: 100%;
    }

    .copyright{
        margin: 1em 0;
    }

    .author{
        padding: 1em;
    }
}




